.container {
    padding: 20px;
    font-family: 'Arial, sans-serif';
    line-height: 1.6;
    color: #333;
    padding-top: 100px;
    background-color: rgba(0, 255, 255, 0.362);
    color: black;
    /* background-image: url(./Images/bg-term.png);
    background: fixed;
    background-size: cover;
    min-height: 100vh;
    overflow-y: auto; */
  }
  
  .heading {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  .subheading {
    margin-top: 20px;
  }
  
  .paragraph {
    font-size: 1.2em;
  }
  
  .list {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .contact-info {
    line-height: 1.8;
  }
  